$theme-colors: (
  "orange": #ff5400
);

$body-bg: map-get($theme-colors, 'orange');

$dark: #000;

@import "node_modules/bootstrap/scss/bootstrap";

a.text-superhero:hover {
    color: map-get($theme-colors, 'orange') !important;
    text-shadow: 4px 4px 0px $dark,
                 5px 5px 0px map-get($theme-colors, 'orange'),
                 8px 8px 0px $dark,
                 9px 9px 0px map-get($theme-colors, 'orange'),
                 12px 12px 0px $dark,
                 13px 13px 0px map-get($theme-colors, 'orange');
}

.project-item {
    border-bottom: 2px dashed $dark;
}