$theme-colors: (
    "orange": #ff5400
);

$body-bg: map-get($theme-colors, 'orange');

$dark: #000;

@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: 'grandeecpregular';
    src: url('../fonts/grandeecp-webfont.woff2') format('woff2'),
         url('../fonts/grandeecp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-grandeecpregular {
    font-family: 'grandeecpregular';
}

a.text-superhero:hover {
    color: map-get($theme-colors, 'orange') !important;
    text-shadow: 4px 4px 0px $dark,
    5px 5px 0px map-get($theme-colors, 'orange'),
    8px 8px 0px $dark,
    9px 9px 0px map-get($theme-colors, 'orange'),
    12px 12px 0px $dark,
    13px 13px 0px map-get($theme-colors, 'orange');
}

.project-item {
    &:first-child {
        border-top: none;
    }
    &:last-child {
        border-bottom: 2px dashed $dark;
    }

    border-top: 2px dashed $dark;
    background-size: cover;
    background-position: center center;
}

$bg: '../images/bg-project-1.svg', '../images/bg-project-2.svg', '../images/bg-project-3.svg', '../images/bg-project-4.svg', '../images/bg-project-5.svg';
// $bg-hover: '../images/bg-project-1.svg', '../images/bg-project-2.svg', '../images/bg-project-3.svg', '../images/bg-project-4.svg', '../images/bg-project-5.svg';
@for $i from 1 through 5 {
    .project-item:nth-child(#{5}n+#{$i}) {
        background-image: url(nth($bg, $i));
    }
    // .project-item:hover:nth-child(#{5}n+#{$i}) {
    //     background-image: url(nth($bg, $i));
    // }
}

.bg-project-content {
    background-image: url(../images/bg-project-content.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 1428px;
}

.project-close-btn {
    display: inline-block;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 35px;
    min-width: 35px;
    cursor: pointer;
    margin: 22px 0 0 24px;
}

[data-toggle="collapse"] {
    cursor: pointer;
}