$theme-colors: (
    'dark': #000000
);

$body-bg: var(--theme-odc);
$carousel-control-opacity: 1;
$carousel-control-icon-width: 80px;
$carousel-control-prev-icon-bg: url(../images/arrow-prev.svg);
$carousel-control-next-icon-bg: url(../images/arrow-next.svg);

@import "~bootstrap/scss/bootstrap";
@import "font-face";

// Common
[data-toggle="collapse"] {cursor: pointer}
a:hover {color: var(--theme-odc)}
.bg-black {background-color: var(--dark); color: var(--theme-odc);}
.text-odcprimary {color: var(--theme-odc)}
.text-dark {color: var(--dark)}
.text-fill-odcprimary {
    color: var(--theme-odc);
    text-shadow: 2px 2px 0 var(--dark), 2px -2px 0 var(--dark), -2px 2px 0 var(--dark), -2px -2px 0 var(--dark), 2px 0px 0 var(--dark), 0px 2px 0 var(--dark), -2px 0px 0 var(--dark), 0px -2px 0 var(--dark), 2px 2px 2px var(--dark);
}
.text-fill-dark {
    color: var(--dark);
    text-shadow: 1px 1px 0 var(--theme-odc), 1px -1px 0 var(--theme-odc), -1px 1px 0 var(--theme-odc), -1px -1px 0 var(--theme-odc), 1px 0px 0 var(--theme-odc), 0px 1px 0 var(--theme-odc), -1px 0px 0 var(--theme-odc), 0px -1px 0 var(--theme-odc), 1px 1px 1px var(--theme-odc);
    &:hover {
        color: var(--dark);
        text-decoration: none;
    }
}
.vertical-text {transform: rotate(-90deg)}
.border-odcprimary {border-top: 2px var(--theme-odc) solid; margin-top: 27px; margin-left: 44px;}


// Blocks
.home-img {
    position: relative;
    height: 100vh;
    background: url(../images/home.svg) no-repeat center center;
    background-size: cover;
    background-origin: content-box;
    padding: 150px;

    #scroller {
        position: absolute;
        width: 100px;
        height: 80px;
        left: calc(50% - 37px);
        bottom: 5px;
        cursor: pointer;
    }
}

.header-container {
    .text-superhero:hover {
        color: var(--theme-odc);
        text-shadow: 4px 4px 0px var(--dark), 5px 5px 0px var(--theme-odc), 8px 8px 0px var(--dark), 9px 9px 0px var(--theme-odc), 12px 12px 0px var(--dark), 13px 13px 0px var(--theme-odc);
    }
}

#projects-block {
    & .card {
        background-size: cover;
        background-color: var(--theme-odc);
        background-position: center center;
        display: flex;
        justify-content: center;
        align-self: center;
        border: none;
        border-top: 2px dashed #000;

        &:first-child {
            border-top: none;
        }
        &:last-child {
            border-bottom: 2px dashed var(--dark);
        }

        .project-item {
            & h3 {
                word-wrap: break-word;
            }
        }
    }

    .bg-project-top {
        display: flex;
        flex-wrap: wrap;

        .btn-close {
            display: inline-block;
            vertical-align: top;
            background: transparent url(../images/close.svg);
            width: 60px;
            height: 60px;
            border: none;
            margin: 10px 10px 10px 0;
            cursor: pointer;
        }

        .bg-project-top-bars {
            flex: 1;

            .bg-project-topbar {
                display: inline-block;
                background-color: #000;
                height: 5px;
                width: 100%;
            }
        }
    }

    .project-content {
        border: 3px solid black;
        padding: 0 20px 20px 20px;
    }

    $bg: '../images/bg-project-1.svg', '../images/bg-project-2.svg', '../images/bg-project-3.svg', '../images/bg-project-4.svg', '../images/bg-project-5.svg';
    @for $i from 1 through length($bg) {
        & .card:nth-child(#{length($bg)}n+#{$i}) {
            background: url(nth($bg, $i));
            background-size: cover;
            background-position: center center;
        }

        & .card:hover:nth-child(#{length($bg)}n+#{$i}) {
            background-image: none;
        }
    }

    $bg-hover: '../images/projects-hover/1-odc-SURVOL.png', '../images/projects-hover/2-odc-SURVOL.png', '../images/projects-hover/3-odc-SURVOL.png', '../images/projects-hover/4-odc-SURVOL.png', '../images/projects-hover/5-odc-SURVOL.png', '../images/projects-hover/6-odc-SURVOL.png', '../images/projects-hover/7-odc-SURVOL.png', '../images/projects-hover/8-odc-SURVOL.png', '../images/projects-hover/9-odc-SURVOL.png', '../images/projects-hover/10-odc-SURVOL.png', '../images/projects-hover/11-odc-SURVOL.png', '../images/projects-hover/12-odc-SURVOL.png', '../images/projects-hover/13-odc-SURVOL.png', '../images/projects-hover/14-odc-SURVOL.png', '../images/projects-hover/15-odc-SURVOL.png', '../images/projects-hover/16-odc-SURVOL.png', '../images/projects-hover/17-odc-SURVOL.png', '../images/projects-hover/18-odc-SURVOL.png', '../images/projects-hover/19-odc-SURVOL.png', '../images/projects-hover/20-odc-SURVOL.png';
    @for $j from 1 through length($bg-hover) {
        & .card:hover:nth-child(#{length($bg-hover)}n+#{$j}) {
            .project-item {
                background: url(nth($bg-hover, $j)) no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }
    }

    .bg-project-content {
        background-image: url(../images/bg-grid-pattern.svg);
        min-height: 500px;
        display: block;
        position: relative;
        border: 10px solid black;
        border-right-width: 2px;
        border-bottom-width: 2px;
        padding-bottom: 50px;

        .carousel-item img {
            margin: 0 auto;
            max-height: 480px;
        }

        .carousel-inner {
            max-width: 60%;
            margin: 0 auto;
            max-height: 480px;
        }
    }

    .project-tags {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 50px auto;

        .project-tag {
            padding: 10px 20px;
        }
    }
}

#presentation-block {
    position: relative;

    #skills-list {
        margin-top: 50px;
        margin-bottom: 50px;

        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                padding: 10px;
                width: 100%;
                display: inline-block;
                margin-bottom: 0;

                &:not(.collapsed) {
                    background-color: var(--theme-odc);
                }
            }

            .card-body {
                text-transform: uppercase;
                background-color: var(--dark);
                border: 1px solid var(--theme-odc);
                border-radius: 0px;
            }
        }
    }

    .site-name {
        p {
            font-size: 70px;
            position: absolute;

            &:first-child {
                left: -280px;
                bottom: 140px;
            }

            &:last-child {
                right: -295px;
                top: 250px;
            }
        }
    }

    #presentation-right {
        min-height: 650px; // tmp
        padding-left: 150px;
    }

    #presentation-left-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url('../images/skills/odc-images-presentation-general.png');
        background-color: var(--theme-odc);
        background-repeat: no-repeat;
        background-position: 80% 20%;
    }
}


// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
@include media-breakpoint-down('sm') {
    header .nav {
        display: none !important;
    }

    .project-content {
        padding: 0px 15px 15px 15px;
    }

    #projects-block {
        .project-tags {
            width: 90%;
        }
    }
}
