$theme-colors: (
    'dark': #000000
);

$body-bg: var(--theme-odc);
$carousel-control-opacity: 1;
$carousel-control-icon-width: 80px;
$carousel-control-prev-icon-bg: url(../images/arrow-prev.svg);
$carousel-control-next-icon-bg: url(../images/arrow-next.svg);

@import "~bootstrap/scss/bootstrap";
@import "font-face";

// Common
[data-toggle="collapse"] {cursor: pointer}
a:hover {color: var(--theme-odc)}
.bg-dark {background-color: var(--theme-odc-sec) !important; color: var(--theme-odc) !important;}
.bg-odcprimary {background-color: var(--theme-odc); color: var(--theme-odc-sec);}
.text-odcprimary {color: var(--theme-odc)}
.text-dark {color: var(--theme-odc-sec) !important}
.text-fill-odcprimary {
    color: var(--theme-odc);
    text-shadow: 2px 2px 0 var(--theme-odc-sec), 2px -2px 0 var(--theme-odc-sec), -2px 2px 0 var(--theme-odc-sec), -2px -2px 0 var(--theme-odc-sec), 2px 0px 0 var(--theme-odc-sec), 0px 2px 0 var(--theme-odc-sec), -2px 0px 0 var(--theme-odc-sec), 0px -2px 0 var(--theme-odc-sec), 2px 2px 2px var(--theme-odc-sec);
}
.text-fill-dark {
    color: var(--theme-odc-sec);
    text-shadow: 1px 1px 0 var(--theme-odc), 1px -1px 0 var(--theme-odc), -1px 1px 0 var(--theme-odc), -1px -1px 0 var(--theme-odc), 1px 0px 0 var(--theme-odc), 0px 1px 0 var(--theme-odc), -1px 0px 0 var(--theme-odc), 0px -1px 0 var(--theme-odc), 1px 1px 1px var(--theme-odc);
    &:hover {
        color: var(--theme-odc-sec);
        text-decoration: none;
    }
}
.vertical-text {transform: rotate(-90deg)}
.border-odcprimary {border-top: 2px var(--theme-odc) solid; margin-top: 27px; margin-left: 44px;}
.w-33 { width: 33.3% }

// Blocks
.home-img {
    position: relative;
    height: 100vh;
    -webkit-mask-image: url(../images/home.svg);
    mask-image: url(../images/home.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-origin: content-box;
    mask-origin: content-box;
    background-color: var(--theme-odc-sec);

    #scroller {
        position: absolute;
        width: 300px;
        height: 280px;
        left: calc(50% - 150px);
        bottom: 5px;
        cursor: pointer;
    }
}

.header-container {
    .text-superhero:hover {
        color: var(--theme-odc);
        text-shadow: 4px 4px 0px var(--theme-odc-sec), 5px 5px 0px var(--theme-odc), 8px 8px 0px var(--theme-odc-sec), 9px 9px 0px var(--theme-odc), 12px 12px 0px var(--theme-odc-sec), 13px 13px 0px var(--theme-odc);
    }
}

.anchor {
    display: block;
    position: relative;
    top: -105px;
    visibility: hidden;

    &#contact-anchor {
        top: -200px;
    }
}


#projects-block {
    & .card {
        background-size: cover;
        background-color: var(--theme-odc);
        background-position: center center;
        display: flex;
        justify-content: center;
        align-self: center;
        border: none;
        border-top: 2px dashed #000;

        &:first-child {
            border-top: none;
        }
        &:last-child {
            border-bottom: 2px dashed var(--theme-odc-sec);
        }

        .project-item {
            position: relative;
            & h3 {
                position: relative;
                word-wrap: break-word;
                z-index: 100;
            }

            .project-tooltip {
                display: block;
                position: absolute;
                z-index: 9999;
            }

            // .project-tooltip {
            //     display: none;
            // }
        }
    }

    .bg-project-top {
        display: flex;
        flex-wrap: wrap;

        .btn-close {
            display: inline-block;
            vertical-align: top;
            background: transparent url(../images/close.svg);
            width: 60px;
            height: 60px;
            border: none;
            margin: 10px 10px 10px 0;
            cursor: pointer;
        }

        .bg-project-top-bars {
            flex: 1;

            .bg-project-topbar {
                display: inline-block;
                background-color: #000;
                height: 5px;
                width: 100%;
            }
        }
    }

    .project-content {
        z-index: 9998;
        border: 3pxsolid black;
        padding: 0 20px 20px 20px;
    }

    .card {
        position: relative;
    }

    $bg: '../images/bg-project-1.svg', '../images/bg-project-2.svg', '../images/bg-project-3.svg', '../images/bg-project-4.svg', '../images/bg-project-5.svg';
    
    @for $i from 1 through length($bg) {
        & .card:nth-child(#{length($bg)}n+#{$i}) .bg-card {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
            background: url(nth($bg, $i));
            background-size: cover;
            background-position: center center;
        }

        & .card:hover:nth-child(#{length($bg)}n+#{$i}) .bg-card {
            background-image: none;
            opacity: 0;
        }
    }

    $bg-hover: '../images/projects-hover/1-odc-SURVOL-noir.png', '../images/projects-hover/2-odc-SURVOL-noir.png', '../images/projects-hover/3-odc-SURVOL-noir.png', '../images/projects-hover/4-odc-SURVOL-noir.png', '../images/projects-hover/5-odc-SURVOL-noir.png', '../images/projects-hover/6-odc-SURVOL-noir.png', '../images/projects-hover/7-odc-SURVOL-noir.png', '../images/projects-hover/8-odc-SURVOL-noir.png', '../images/projects-hover/9-odc-SURVOL-noir.png', '../images/projects-hover/10-odc-SURVOL-noir.png', '../images/projects-hover/11-odc-SURVOL-noir.png', '../images/projects-hover/12-odc-SURVOL-noir.png', '../images/projects-hover/13-odc-SURVOL-noir.png', '../images/projects-hover/14-odc-SURVOL-noir.png', '../images/projects-hover/15-odc-SURVOL-noir.png', '../images/projects-hover/16-odc-SURVOL-noir.png', '../images/projects-hover/17-odc-SURVOL-noir.png', '../images/projects-hover/18-odc-SURVOL-noir.png', '../images/projects-hover/19-odc-SURVOL-noir.png', '../images/projects-hover/20-odc-SURVOL-noir.png';
    @for $j from 1 through length($bg-hover) {
        & .card:nth-child(#{length($bg-hover)}n+#{$j}) {
            .project-item {
                .bg-card-hover {
                    opacity: 0;
                }
                .bg-card-hover.active {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    cursor: pointer;
                    background: url(nth($bg-hover, $j)) no-repeat;
                    background-size: cover;
                    background-position: center center;
                    transition: opacity 1s ease;
                    opacity: 1;
                }
            }
        }
    }

    .bg-project-content {
        background-image: url(../images/bg-grid-pattern.svg);
        min-height: 500px;
        display: block;
        position: relative;
        border: 10px solid black;
        border-right-width: 2px;
        border-bottom-width: 2px;
        padding-bottom: 50px;

        .carousel-item img {
            margin: 0 auto;
            max-width: 960px;
        }

        .carousel-inner {
            margin: 0 auto;
        }
    }

    .project-tags {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 50px auto;

        .project-tag {
            padding: 10px 20px;
        }
    }
}

#presentation-block {
    position: relative;
    z-index: 0;
    margin-top: 105px;

    #skills-list {
        padding-right: 50px;
        margin-top: 50px;
        margin-bottom: 50px;

        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                padding: 10px;
                width: 100%;
                display: inline-block;
                margin-bottom: 0;

                &:hover {
                    background-color: var(--theme-odc);
                }

                &:not(.collapsed) {
                    background-color: var(--theme-odc);
                }
            }

            .card-body {
                text-transform: uppercase;
                background-color: var(--theme-odc-sec);
                border: 1px solid var(--theme-odc);
                border-radius: 0px;
            }
        }
    }

    .site-name {
        p {
            font-size: 70px;
            position: absolute;

            &:first-child {
                left: -280px;
                bottom: 140px;
            }

            &:last-child {
                right: -295px;
                top: 250px;
            }
        }
    }

    #presentation-right {
        min-height: 650px; // tmp
        padding-left: 150px;
    }

    #presentation-left-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        background-color: var(--theme-odc);
        background-repeat: no-repeat;
        background-position: 80% 20%;
        background-size: cover;
    }

    .softwares {
        li {
            margin-right: 50px;
            margin-bottom: 150px;
            width: 100px;
            height: 100px;

            &:last-child {
                margin-right: 0;
            }
        }

        #logo-photoshop {
            height: 100%;
            width: 100%;
            background-color: var(--theme-odc);
            background-image: url('../images/adobe-ps.svg');
        }
    
        #logo-illustrator {
            height: 100%;
            width: 100%;
            background-color: var(--theme-odc);
            background-image: url('../images/adobe-ai.svg');
        }
    
        #logo-indesign {
            height: 100%;
            width: 100%;
            background-color: var(--theme-odc);
            background-image: url('../images/adobe-id.svg');
        }
    }
}

#clients-block {
    background-image: 
        linear-gradient(0deg, transparent 24%, var(--theme-odc-sec) 25%, var(--theme-odc-sec) 26%, transparent 26%, transparent 74%, var(--theme-odc-sec) 75%, var(--theme-odc-sec) 76%, transparent 76%, transparent), 
        linear-gradient(90deg, transparent 24%, var(--theme-odc-sec) 25%, var(--theme-odc-sec) 26%, transparent 26%, transparent 74%, var(--theme-odc-sec) 75%, var(--theme-odc-sec) 76%, transparent 76%, transparent);
    height: 100%;
    background-size: 100px 100px;
    padding-bottom: 100px;

    div.d-flex.flex-column.w-100:first-child {
        z-index: 0;
        margin-top: -50px;
    }

    #clients-grid {
        overflow: hidden;
        margin: 0 50px;

        a {
            position: relative;

            &:hover::before {
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                position: absolute;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 100;
            }

            &.pen-1:hover::before {
                background-image: url(../images/clients/motif/odc-entoure-1.png);
            }

            &.pen-2:hover::before {
                background-image: url(../images/clients/motif/odc-entoure-2.png);
            }

            &.pen-3:hover::before {
                background-image: url(../images/clients/motif/odc-entoure-3.png);
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                object-fit: contain;
                height: 350px;
                padding: 50px;
                width: 100%;
                transition: all .5s;
            }
        }
    }
    
}

#contact-block {
    h3 {
        font-size: 600px;
        margin-top: -200px;
        margin-left: 60px;

        background: linear-gradient(to bottom, var(--theme-odc-sec) 0%,var(--theme-odc-sec) 27.8%, var(--theme-odc) 27.8%, var(--theme-odc) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    form {
        label {
            padding: .3rem .6rem;
            border: 2px solid var(--theme-odc);
            background-color: var(--theme-odc-sec);
            color: var(--theme-odc);
            margin-bottom: 0;
        }

        input, textarea, button {
            border-radius: 0;
            background-color: var(--theme-odc);
            border-color: var(--theme-odc);
            color: var(--theme-odc-sec);
        }

        button:hover {
            opacity: 0.9;
        }

        button:active {
            opacity: 0.8;
        }
    }
}

footer {
    border-top: 2px dashed var(--theme-odc);
}

.stroke {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 1.3rem;
    padding: .3rem .6rem;
    border: 2px solid var(--theme-odc);
    background-color: var(--theme-odc-sec);
    
    &::before {
        content: "";
        position: absolute;
        bottom: -.8rem;
        left: -.8rem;
        z-index: -10;
        width: 100%;
        height: 100%;
        border: 2px solid var(--theme-odc);
        background-color: var(--theme-odc-sec);
        background-image: radial-gradient(var(--theme-odc) 15%, transparent 16%), radial-gradient(var(--theme-odc) 15%, transparent 16%);
        background-size: 7px 7px;
        background-position: 0 0, 10px 10px;
    }
}

.stroke--reverse {
    position: relative;
    display: block;
    padding: .3rem .6rem;
    border: 2px solid var(--theme-odc);
    background-color: var(--theme-odc-sec);

    &:first-child {
        border-bottom-width: 1px;
        &::before {
            bottom: -.9rem;
        }
    }
    &:last-child {
        border-top-width: 1px;
        &::before {
            border-top-width: 1px;
            bottom: -.7rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -.8rem;
        left: .8rem;
        z-index: -10;
        width: 100%;
        height: 100%;
        border: 2px solid var(--theme-odc);
        background-color: var(--theme-odc-sec);
        background-image: radial-gradient(var(--theme-odc) 15%, transparent 16%), radial-gradient(var(--theme-odc) 15%, transparent 16%);
        background-size: 7px 7px;
        background-position: 0 0, 10px 10px;
    }
}

.stroke--double {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 1.3rem;
    padding: .3rem .6rem;
    border: 2px solid var(--theme-odc-sec);
    background-color: var(--theme-odc);

    &::before {
        content: "";
        position: absolute;
        bottom: -.5rem;
        right: -.5rem;
        width: 100%;
        height: 100%;
        border: 2px solid var(--theme-odc-sec);
        background-color: var(--theme-odc);
        z-index: -3;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -.9rem;
        right: -.9rem;
        width: 100%;
        height: 100%;
        border: 2px solid var(--theme-odc-sec);
        background-color: var(--theme-odc);
        z-index: -4;
    }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
@include media-breakpoint-down('sm') {
    .home-img {
        padding: 0;
    }

    header .nav {
        display: none !important;
    }

    .project-content {
        padding: 0px 15px 15px 15px;
    }

    #projects-block {
        .project-tags {
            width: 90%;
        }
    }

    #projects-block .bg-project-content .carousel-item img {
        max-width: 480px;
    }

    #clients-block #clients-grid img {
        padding: 20px;
    }
}

@include media-breakpoint-down('md') {
    #clients-block #clients-grid img {
        padding: 20px;
        height: 100px;
    }
}

@include media-breakpoint-down('lg') {
    #projects-block .bg-project-content .carousel-item img {
        max-width: 720px;
    }

    .home-img {
        padding: 0;
    }

    .nav {
        hr {
            display: none;
        }
    }
}